.answer {
  transform: scale(0.8); 
  background-color: #ffffff !important;
  border: none !important;
}

.textarea-style {
  max-height: 150px;
}

.link-container {
  display: flex;
  gap: 15px;
}

.log-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  transition: filter 0.3s;
}

.log-link img {
  margin-right: 8px;
}

.log-link:hover {
  color: #8a8a8a;
}

.myform-container {
  display: flex;
  justify-content: center;
  align-items: center !important;
}

.was-validated-log {
  width: 300px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.login-container {
  height: auto;
  align-items: center !important;
}

.signup-container {
  height: auto;
}

.form-check-input:checked {
  border: none;
  background-color: #3dcf47ce;
  box-shadow: none !important;
}

.form-check-input {
  border-color: #7e7e7e !important;
  box-shadow: none !important;
}

.form-check {
  border-color: #7e7e7e;
  box-shadow: none !important;
}

.form-control {
  box-shadow: none !important;
  width: 100%;
  background-color: #dce1e6 !important;
}

.question-style {
  border: none !important;
  background-color: #fff !important;
}

.mystyle-button {
  display: flex;
  justify-content: center;
}

.main-link {
  color: #ff5e00;
  text-decoration: none;
  font-size: 20px;
}

.main-link:hover {
  color: #ff5e0088;
  text-decoration: none;
}

.member-list a {
  color: #3e3e3e;
  text-decoration: none;
}

.member-list a:hover {
  color: #0078ab7c;
}

.avatar-container {
  height: 100px;
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.member-list {
  text-align: center;
}

.list-group {
  padding-left: 0;
  margin: 0 auto;
  list-style-type: decimal;
}

.list-group-item {
  border: none;
  padding: 0.5rem 0;
}

.list-group-item img {
  vertical-align: middle;
  margin-right: 0.5rem;
}

.card-link {
  color: #979797;
  text-decoration: none;
}

.card {
  background-color: #dce1e64d;
  border-radius: 100px !important;
}

.card:hover {
  border-color: #0078AB;
}

h4 {
  color: #656565 !important;
  text-align: center !important;
}

h5 {
  color: #343434 !important;
}

.h2, h2 {
  color: #1c1c1c !important;
  text-align: center !important;
}

.icon-style {
  height: 30px;
}

.icon-style-pagination {
  height: 20px;
}

.icon-style.active {
  filter: brightness(0) saturate(10000%) invert(70%) sepia(1000%) hue-rotate(800000000000deg) contrast(90%);
}

.icon-style.disactive {
  filter: brightness(80%) saturate(0%) invert(2%) sepia(1000%) hue-rotate(345deg) contrast(150%);
}

.card-link:hover .icon-style {
  opacity: 0.5;
}

.pagination-nav {
  text-align: center;
  margin-top: 20px;
}

.tag-style {
  background-color: #447bba57 !important;
  border-radius: 8px !important;
}

.tag-style:hover {
  background-color: #447bba20 !important;
}

.tag-style-top {
  border-color: #ff5e0068 !important;
  background-color: #ff5e005a !important;
  border-radius: 8px !important;
}

.tag-style-top:hover {
  background-color: #ff5e0045 !important;
}

.img-fluid {
  height: 100px;
  width: auto;
  border-radius: 100px;
}

.pagination {
  --bs-pagination-active-bg:#447bba;
  --bs-pagination-active-border-color:#447bba;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  box-shadow: none !important;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 20px !important;
  text-decoration: none;
  color: #447bba;
  transition: background-color 0.3s;
}

.page-link.active {
  background-color: #447bba !important;
}

.main-style {
  background-color: #dce1e6;
}

.section-style {
  background-color: #ffffff;
  border: 0.5px solid rgba(5, 4, 4, 0.254);
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}

.form-control {
  background-color: rgba(75, 74, 74, 0.15);
  transition: background-color 0.3s;
}

.form-control:hover {
  background-color: rgba(75, 74, 74, 0.3);
  border: none !important;
  outline: none !important;
}

.form-control:focus {
  background-color: rgba(75, 74, 74, 0.15);
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.btn-outline-primary {
  color: #fff !important;
  background-color: #447bba !important;
  border-color: #0078ab00 !important;
}

.btn-primary {
  background-color: #447bba !important;
  border-color: #447bba !important;
}

.btn btn-outline-primary me-2 {
  border-color: #447bba !important;
}

.btn:hover {
  color: #fff !important;
  background-color: #447bba93 !important;
  border-color: #0078ab00 !important;
}

.link-body-emphasis {
  color: #447bba !important;
}

.dropdown-item.active {
  background-color: #447bba !important;
}

.dropdown-item:active {
  background-color: #447bba !important;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}


.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #447bba;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #447bba;
  --bs-btn-hover-border-color: #447bba;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #447bba;
  --bs-btn-active-border-color: #447bba;
  --bs-pagination-active-bg:#447bba;
  --bs-pagination-focus-color: #447bba;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}
