{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
Hot
{% endblock %}

{% block content %}
<div class="col-9 container section-style">
    <div class="d-flex gap-3 align-items-center justify-content-center">
        <h2>
            <img src="{% static 'images/fire.svg' %}" alt="Answer"
                style="filter: brightness(0) saturate(100%) invert(57%) sepia(85%) saturate(1500%) hue-rotate(353deg) brightness(103%) contrast(101%); height: 25px;">
            Hot Questions
        </h2>
        <a href="{% url 'index' %}" class="main-link">
            New Questions
        </a>
    </div>
    <div class="d-flex flex-column gap-3">
        {% for question in questions %}
        {% include 'layouts/card.html' %}
        {% endfor %}
        {% include 'layouts/pagination.html' %}

    </div>
</div>
{% endblock %}