{% load static %}

<div class="card w-100 answer" id="answer-{{ answer.id }}">
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <div class="avatar-container mb-2">
                    <img src="{{ answer.author.avatar_url }}" alt="Avatar" class="img-fluid avatar">
                </div>
            </div>
            <div class="col-10">
                <p class="card-text">{{ answer.text }}</p>
                <div class="d-flex gap-5">
                    {% csrf_token %}
                    <!-- <form action="{% url 'like_answer' answer.id %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="card-link" style="background-color:#f0f8ff !important;">
                            <img src="{% static 'images/Heart.svg' %}" alt="Like" class="icon-style" id="answer-like-{{ answer.id }}">
                        </button>
                    </form>
                    <span id="answer-like-counter-{{ answer.id }}" class="card-link">{{ answer.rating }}</span>
                    
                    <form action="{% url 'dislike_answer' answer.id %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="card-link" style="background-color:#f0f8ff !important;">
                            <img src="{% static 'images/heartbreak.svg' %}" alt="Dislike" class="icon-style" id="answer-dislike-{{ answer.id }}">
                        </button>
                    </form> -->
                    <a href="#" class="card-link" data-url="{% url 'like_answer' answer.id %}" onclick="likeAnswer('{{ answer.id }}')">
                        <img src="{% static 'images/Heart.svg' %}" alt="Like" class="icon-style" id="answer-like-{{ answer.id }}">
                    </a>
                    <span id="answer-like-counter-{{ answer.id }}" class="card-link">{{ answer.rating }}</span>
                    
                    <a href="#" class="card-link" data-url="{% url 'dislike_answer' answer.id %}" onclick="dislikeAnswer('{{ answer.id }}')">
                        <img src="{% static 'images/heartbreak.svg' %}" alt="Dislike" class="icon-style" id="answer-dislike-{{ answer.id }}">
                    </a>
                    
                    
                    <!-- <span>
                        <a href="#" class="card-link" onclick="toggleAnswerActive(event, 'like', '{{ answer.id }}')">
                            <img src="{% static 'images/Heart.svg' %}" alt="Like" class="icon-style"
                                id="answer-like-{{ answer.id }}">
                        </a>
                        <span id="answer-like-counter-{{ answer.id }}" class="card-link">{{ answer.rating }}</span>
                        <a href="#" class="card-link" onclick="toggleAnswerActive(event, 'dislike', '{{ answer.id }}')">
                            <img src="{% static 'images/heartbreak.svg' %}" alt="Dislike" class="icon-style"
                                id="answer-dislike-{{ answer.id }}">
                        </a>
                    </span> -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="correct-{{ answer.id }}"
                            onclick="setCorrectAnswer('{{ answer.id }}')" {% if answer.is_correct %}checked{% endif %}>
                        <label class="form-check-label" for="correct-{{ answer.id }}">
                            Correct!
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>