{% load static %}

<div class="card w-100 answer" id="answer-{{ answer.id }}">
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <div class="avatar-container mb-2">
                    <img src="{{ answer.author.avatar_url }}" alt="Avatar" class="img-fluid avatar">
                </div>
            </div>
            <div class="col-10">
                <p class="card-text">{{ answer.text }}</p>
                <div class="d-flex gap-5">
                    <span>
                        {% csrf_token %}
                        <a href="#" class="card-link" data-url="{% url 'like_answer' answer.id %}"
                            onclick="likeAnswer('{{ answer.id }}', event)">
                            <img src="{% static 'images/Heart.svg' %}" alt="Like"
                                class="icon-style {% if answer.is_liked %}active{% endif %}"
                                id="answer-like-{{ answer.id }}">
                        </a>
                        <span id="answer-like-counter-{{ answer.id }}" class="card-link">{{ answer.rating}}</span>
                        <a href="#" class="card-link" data-url="{% url 'dislike_answer' answer.id %}"
                            onclick="dislikeAnswer('{{ answer.id }}', event)">
                            <img src="{% static 'images/heartbreak.svg' %}" alt="Dislike"
                                class="icon-style {% if answer.is_disliked %}active{% endif %}"
                                id="answer-dislike-{{ answer.id }}">
                        </a>
                    </span>
                    <div class="form-check">
                        {% if request.user.profile == question.author %}
                        <a href="#" class="answer-correct-toggle" data-url="/{{ question.id }}/{{ answer.id }}/set_correct_answer" onclick="setCorrectAnswer('{{ question.id }}', '{{ answer.id }}', event)">
                            <input class="form-check-input" type="checkbox" id="correct-{{ answer.id }}" 
                            {% if answer.is_correct %}checked{% endif %}>
                            <label class="form-check-label" for="correct-{{ answer.id }}">
                                Correct!
                            </label>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>