{% load static %}

<div class="card w-100">
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <div class="avatar-container mb-2">
                    <img src="{% static question.author.avatar %}" alt="Avatar" class="img-fluid avatar">
                </div>
            </div>
            
            <div class="col-10">
                <h5 class="card-title">
                    <a href="{% url 'question' question.id %}">{{ question.title }}</a>
                </h5>
                <p class="card-text">{{ question.text }}</p>
                <div class="d-flex gap-5">
                    <span>
                        <a href="{% url 'question' question.id %}" class="card-link">
                            <img src="{% static 'images/Message square.svg' %}" alt="Answer" class="icon-style">
                            {{ question.answers_count }}
                        </a>
                        <a href="#" class="card-link" onclick="toggleQuestionActive(event, 'like', '{{ question.id }}')">
                            <img src="{% static 'images/Heart.svg' %}" alt="Like" class="icon-style" id="question-like-{{ question.id }}">
                        </a>
                        <span id="question-like-counter-{{ question.id }}" class="card-link">{{ question.likes_count }}</span>
                        <a href="#" class="card-link" onclick="toggleQuestionActive(event, 'dislike', '{{ question.id }}')">
                            <img src="{% static 'images/heartbreak.svg' %}" alt="Dislike" class="icon-style" id="question-dislike-{{ question.id }}">
                        </a>
                    </span>
                    <div>
                        {% for tag in question.tags_list %}
                        <a href="{% url 'tag' tag.name %}" 
                            class="badge bg-primary-subtle border border-dark-subtle text-dark-emphasis rounded-pill tag-style">
                            {{ tag.name }}
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>