{% load static %}
<nav aria-label="pagination-nav" class="pagination-nav">
    <ul class="pagination">
        <!-- Кнопка "Назад" -->
        <li class="page-item {% if page.has_previous %}{% else %}disabled{% endif %}">
            <a class="page-link"
                href="{% if page.has_previous %}?page={{ page.previous_page_number }}&per_page={{ page.paginator.per_page }}{% endif %}">
                <img src="{% static 'images/Arrow left.svg' %}" alt="arrow-left" class="icon-style-pagination">
            </a>
        </li>

        <!-- Предыдущая страница -->
        {% if page.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page.previous_page_number }}&per_page={{ page.paginator.per_page }}">
                {{ page.previous_page_number }}
            </a>
        </li>
        {% endif %}

        <!-- Текущая страница -->
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">
                {{ page.number }}
            </a>
        </li>

        <!-- Следующая страница -->
        {% if page.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page.next_page_number }}&per_page={{ page.paginator.per_page }}">
                {{ page.next_page_number }}
            </a>
        </li>
        {% endif %}

        {% if page.paginator.num_pages > page.number|add:1 %}
        <li class="page-item disabled">
            <span class="page-link">...</span> <!-- Двоеточие, если между текущей и последней есть страницы -->
        </li>

        <li class="page-item">
            <a class="page-link" href="?page={{ page.paginator.num_pages }}&per_page={{ page.paginator.per_page }}">
                {{ page.paginator.num_pages }} <!-- Последняя страница -->
            </a>
        </li>
        {% endif %}

        <!-- Кнопка "Вперёд" -->
        <li class="page-item {% if page.has_next %}{% else %}disabled{% endif %}">
            <a class="page-link"
                href="{% if page.has_next %}?page={{ page.next_page_number }}&per_page={{ page.paginator.per_page }}{% endif %}">
                <img src="{% static 'images/Arrow right.svg' %}" alt="arrow-right" class="icon-style-pagination">
            </a>
        </li>
    </ul>
    <form method="GET" action="" class="mb-3 text-center" style="margin-top: 20px;">
        <div class="input-group" style="max-width: 300px; margin: 0 auto;">
            <label class="input-group-text" for="page_input" style="color: #656565;">Go to page:</label>
            <input type="number" id="page_input" name="page" class="form-control" value="{{ page.number }}" min="1"
                max="{{ page.paginator.num_pages }}" onchange="this.form.submit()"
                style="color: #447bba; box-shadow: none !important; border-color: #e6e8ec;">
        </div>
    </form>
</nav>